<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <%= link_to 'Añadir nueva Gasolinera', new_gas_station_path, :class => "btn btn-success" %>
  <hr>
<% end %>

<h3><%= @gas_station.nombre %></h3>


<p>
  <b>Direccion:</b>
  <%= @gas_station.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%= @gas_station.telefono %>
</p>

<p>
  <b>Latitud:</b>
  <%= @gas_station.latitud %>
</p>

<p>
  <b>Longitud:</b>
  <%= @gas_station.longitud %>
</p>

<p>
  <b>Url Foto:</b>
  <%= @gas_station.foto1 %>
  <br />
  <img class="foto-gas" src="<%= gas_station.foto1 %>" />

</p>
<p><strong>Características:</strong></p>
<% if @features != [] %>
  <ul>
  <% @features.each do |feature| %>
   <li> <%= feature.nombre %> </li>
  <% end %>
<% else %>
  <p>No tiene características</p>
<% end %>

<% if user_signed_in? %>
<%= link_to 'Editar', edit_gas_station_path(@gas_station), :class => "btn btn-warnig" %> |<% end %>
<%= link_to 'Regresar', gas_stations_path, :class => "btn btn-danger" %>
