<!DOCTYPE html>
<html>
<head>
	<title>Gasored</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top ">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">
					<img src="/assets/logo.png" width="150px">
				</a>
				<ul class="nav">
					<li>
						<%= link_to "Gasolineras", gas_stations_path %>
					</li>
					<li>
						<%= link_to "Características", features_path %>
					</li>
				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to "Register", new_user_registration_path %></li>
						<li><%= link_to "Log in", new_user_session_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">

		<%= yield %>
	
	</div>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<footer class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li>
						<p>GasoRed © 2013 Todos los derechos reserados.</p>
					</li>
				</ul>
				<ul class="pull-right">
					<li>
						<p>Sitio desarrollado por <a href="http://niumedia.mx">Niumedia</a></p>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>
